.hero-services {
    text-align: center;
    padding: 2rem 1rem;
    background: rgb(46, 154, 215);
    background: linear-gradient(164deg, rgba(46, 154, 215, 1) 10%, rgba(231, 148, 84, 1) 63%);
    color: #fff;
}

.hero-services h1 {
    margin-top: 30px;
    font-size: 4rem;
}

.hero-services p {
    font-size: 1.2rem;
}

.hero-services a {
    padding: 15px 65px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    background: none;
    margin-top: 30px;
    cursor: pointer;
    color: #f5f7fd;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 768px) {
    .hero-services h1 {
        font-size: 2rem;
    }

    .hero-services p {
        font-size: 1rem;
    }
}




/* Services Section */
.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* max-width: 1200px; */
}

.service-card {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.service-card p {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services-section {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 480px) {
    .service-card {
        min-width: 90%;
        margin-bottom: 20px;
    }

    .service-card p {
        font-size: 12px;
    }
}

.articles-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
    justify-content: center;
}

/* Article Card Styling */
.article-card {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 45%; */
    max-width: 40%;
    background-color: #fff;
    overflow: hidden;
}



.article-image {
    width: 100%;
    object-fit: cover;
}

.article-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.article-content p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.article-date {
    font-size: 12px;
    color: #888;
}

/* Responsive Design */
@media (max-width: 768px) {
    .article-card {
        flex-direction: column;
        max-width: 100%;
    }

    .article-image {
        width: 100%;
        height: 200px;
    }

    .article-content h2 {
        font-size: 16px;
    }

    .article-content p {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .article-content h2 {
        font-size: 14px;
    }

    .article-content p {
        font-size: 12px;
    }
}
