.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d3557;
    /* Dark blue background */
    padding: 50px 150px;
    color: #ffffff;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
}

.services h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.footer-contact h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.footer-follow h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons .icon {
    font-size: 20px;
    color: #ffffff;
    /* Adjust this color as needed */
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icons .icon:hover {
    transform: scale(1.2);
    color: #ddd;
    /* Change color on hover */
}


.footer .footer-follow input {
    width: 100%;
        padding: 15px;
        margin-top: 5px;
        background-color: white;
        font-size: 1rem;
        color: black;
        border: 1px solid #ccc;
        border-radius: 8px;
}

.footer .footer-follow button {
    background-color: #457b9d;
    /* Button color */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer .footer-follow button:hover {
    background-color: lightslategray;
    /* Darker shade on hover */
}

.footer-below {
    background-color: #1d3557;
    /* Dark blue background */
    padding: 20px 150px;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        /* flex-direction: column; */
        align-items: center;
        text-align: left;
        padding: 30px 20px;
    }

    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .footer-below {

        padding: 20px 20px;
    }
}

@media (max-width: 480px) {
    .footer .follow input {
        width: 100%;
    }

    .footer h3 {
        font-size: 30px;
    }

    .footer {
        text-align: left;
    }

    .footer p {
        font-size: 12px;
    }

    .footer-below {

        padding: 20px 20px;
    }

}

.instagram-button img {
    width: 30px;
    height: 30px;
    /* margin-right: 5px; */
}

.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 10px;
    background-color: #29be60;
    border-radius: 50px;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
    /*     margin-right: 5px; */
}